{{ define "content" }}
<section class="hero">
  <div class="hero-container">
    <h1 class="text-slanted">Not satisfied?</h1>
    <h3>why not just buy more</h3>
    <a href="/products" class="hero-btn">shop now</a>
  </div>
</section>

<section class="section featured">
  <div class="title">
    <h2>featured</h2>
    <div class="underline"></div>
  </div>
  <div class="featured-center section-center">
    <!-- single product -->
    {{ range . }}
    <article class="product">
      <div class="product-container">
        <img src="{{.ImagePath}}" alt="" class="product-img img" />

        <div class="product-icons">
          <a href="/product?id={{.ID}}" class="product-icon">
            <i class="fas fa-search"></i>
          </a>
          <button class="product-cart-btn product-icon" data-id="1">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <footer>
        <p class="product-name">{{.Name}}</p>
        <h4 class="product-price">${{.Price}}</h4>
      </footer>
    </article>
    {{ end }}
  </div>
  <a href="/products" class="btn">all products</a>
</section>

{{ end }}
