{{define "sidebar"}}
<div class="sidebar-overlay">
  <aside class="sidebar">
    <!-- close -->
    <button class="sidebar-close">
      <i class="fas fa-times"></i>
    </button>

    <!-- links -->
    <ul class="sidebar-links">
      <li>
        <a href="/" class="sidebar-link">
          <i class="fas fa-home fa-fw"></i>
          home
        </a>
      </li>
      <li>
        <a href="/products" class="sidebar-link">
          <i class="fas fa-couch fa-fw"></i>
          products
        </a>
      </li>
      <li>
        <a href="/logout" class="sidebar-link">
          <i class="fas fa-book fa-fw"></i>
          logout
        </a>
      </li>
    </ul>
  </aside>
</div>
{{end}}
